.f1-12 {
	flex: 0 1 8.33333%;
}
.f2-12 {
	flex: 0 1 16.66667%;
}
.f2-10 {
	flex: 0 1 20%;
}
.f3-12 {
	flex: 0 1 25%;
}
.f4-12 {
	flex: 0 1 33.33333%;
}
.f5-12 {
	flex: 0 1 41.66665%;
}
.f6-12 {
	flex: 0 1 50%;
}
.f7-12 {
	flex: 0 1 18.33333%;
}
.f8-12 {
	flex: 0 1 calc(18.33333% - 10px);
}
.f9-12 {
	flex: 0 1 calc(18.33333% - 10px);
}
.f10-12 {
	flex: 0 1 calc(18.33333% - 10px);
}
.f11-12 {
	flex: 0 1 calc(18.33333% - 10px);
}
.f12-12 {
	flex: 0 1 100%;
}