.footer {
	display: grid;
	grid-template-columns: max(38.203%) max(36.594%) max(25.203%);
	grid-template-rows: auto auto;
	@media screen and (max-width: 768px) {
		grid-template-columns: max(100%);
		grid-template-rows: auto auto auto auto;
	}
	& .t-2 {
		@media screen and (max-width: 1180px) {
			font-size: 14px;
			line-height: 18px;
		}
		@media screen and (max-width: 768px) {
			font-size: 12px;
			line-height: 16px;
		}
	}
	& .t-3 {
		@media screen and (max-width: 1180px) {
			font-size: 16px;
			line-height: 20px;
		}
	}
	&-bg {
		background-color: #F3F5F7;
		padding-top: 36px;
	}
	&-container {
		margin: 0 auto;
		padding: 0 15px;
		width: 100%;
		max-width: 1270px;
	}
	&-item {
		&:first-child {
			display: flex;
			justify-content: space-between;
			grid-column: 1/2;
			@media screen and (max-width: 768px) {
				grid-column: 1/2;
				padding-bottom: 15px;
			}
		}
		&:nth-child(2) {
			width: 100%;
			border-right: 0.3px solid rgba(170, 170, 170, 0.49);
			border-left: 0.3px solid rgba(170, 170, 170, 0.49);
			padding-bottom: 10px;
			grid-column: 2/3;
			@media screen and (max-width: 768px) {
				grid-column: 1/2;
				border-right: none;
				border-left: none;
				border-top: 0.3px solid rgba(170, 170, 170, 0.49);
				border-bottom: 0.3px solid rgba(170, 170, 170, 0.49);
				padding: 15px 0;
			}
		}
		&:nth-child(3) {
			grid-column: 3/4;
			@media screen and (max-width: 768px) {
				grid-column: 1/2;
			}
			& .footer-item-title {
				margin-top: 73px;
				text-align: center;
				@media screen and (max-width: 768px) {
					margin-top: 15px;
				}
			}
		}
		&-contact {
			@media screen and (max-width: 768px) {
				flex: 0 1 calc(60% - 5px);
			}
			& .footer-item-title {
				margin: 40px 0 22px;
				@media screen and (max-width: 768px) {
					margin: 40px 0 15px;
				}
			}
			& picture {
				display: block;
				max-width: 158px;
			}
			& img {
				@media screen and (max-width: 768px) {
					max-width: 160px;
				}
			}
			& > a {
				display: flex;
				align-items: center;
				grid-gap: 10px;
				color: #333333;
				& .t-3 {
					@media screen and (max-width: 1024px) {
						font-size: 14px;
						line-height: 18px;
					}
				}
			}
		}
		&-services {
			margin-top: 56px;
			padding: 0 30px 0 15px;
			@media screen and (max-width: 1180px) {
				padding: 0 10px 0 0;
			}
			@media screen and (max-width: 768px) {
				margin-top: 0;
				flex: 0 1 calc(40% - 5px);
			}
			& .services {
				&-item {
					margin-bottom: 18px;
					@media screen and (max-width: 768px) {
						margin-bottom: 10px;
					}
					&:last-child {
						margin-bottom: 0;
					}
					& a {
						color: #333333;
					}
				}
			}
		}
		&-title {
			text-decoration-line: underline;
			text-transform: uppercase;
			color: #333333;
		}
		&-list {
			width: 100%;
			max-width: 385px;
			margin: 29px auto 0;
			display: flex;
			align-items: center;
			justify-content: center;
			grid-gap: 20px;
			flex-wrap: wrap;
			@media screen and (max-width: 1180px) {
				grid-gap: 20px 10px;
				padding: 0 10px;
			}
			@media screen and (max-width: 768px) {
				justify-content: space-between;
				margin: 0;
				max-width: 100%;
			}
			&-item {
				flex: 0 1 calc(50% - 10px);
				@media screen and (max-width: 1180px) {
					flex: 0 1 calc(50% - 5px);
				}
				@media screen and (max-width: 768px) {
					flex: 0 1 calc(60% - 5px);
				}
				&:first-child,
				&:nth-child(2) {
					margin-top: 27px;
					@media screen and (max-width: 768px) {
						margin-top: 0;
					}
				}
				&:nth-child(even) {
					@media screen and (max-width: 768px) {
						flex: 0 1 calc(40% - 5px);
					}
				}
				& a {
					color: #978B50;
				}
			}
		}
		&-soc {
			display: flex;
			justify-content: center;
			margin-top: 27px;
			grid-gap: 20px;
			padding: 0 10px;
			@media screen and (max-width: 1180px) {
				grid-gap: 10px;
			}
			@media screen and (max-width: 1024px) {
				flex-wrap: wrap;
			}
			@media screen and (max-width: 768px) {
				justify-content: space-between;
			}
			&-item {
				& a {
					display: flex;
					align-items: center;
					flex-direction: column;
					grid-gap: 10px;
					color: #333333;
				}
			}
		}
		&:last-child {
			margin-top: 57px;
			grid-column: 1/4;
			border-top: 0.3px solid rgba(170, 170, 170, 0.49);
			padding: 5px 0;
			@media screen and (max-width: 768px) {
				grid-column: 1/2;
			}
			& p {
				text-align: center;
				color: #AAAAAA;
				& a {
					color: #AAAAAA;
				}
			}
		}
	}
}