$red: #E30613;


$white-1: #FFFFFF;

$white-2: #F3F5F7;


$blue: #459AE9;


$black-1: #333333;

$black-2: #5F5F5F;


$grey: #AAAAAA;


$fon-1: #DBF7FA;

$fon-2: #D5EDEB;

$fon-3: #D7E2FF;

$fon-4: #D7ECFF;


$gradient-1: linear-gradient(144.16deg, #AFD9FF 19.85%, #A2E4E0 99.37%);

$gradient-2: linear-gradient(148.83deg, #B9CCFF 9.42%, #AFD9FF 94.53%);

$gradient-3: linear-gradient(136.7deg, #73B9FA 11.71%, #AFD9FF 95.79%);

$gradient-4: linear-gradient(136.7deg, #469BEA 11.71%, #C1E0FC 95.79%);

$gradient-5: linear-gradient(132.95deg, #D7ECFF 42.62%, #ABD5FD 105.45%);