@import "../default/_my__color";
@import "../default/_my__font";

.pagination {
	margin: 50px 0 60px;

	&-list {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-item {
		margin-right: 4px;

		&:last-child {
			margin-right: 0;
		}
		&.disable {
			& .arrow-p:before {
				border-color: #AAAAAA;
			}

			& .pagination-link {
				border-color: #AAAAAA;
				&:hover {
					background: #fff;
					color: #AAAAAA;
					cursor: auto;

					& .arrow-p:before {
						border-color: #aaa;
					}
				}
			}
		}

		&.active {
			& .pagination-link {
				color: #FFFFFF;
				background: #459AE9;
				border-color: #459AE9;
				& .arrow-p:before {
					border-color: #459AE9;
				}
			}
		}
		&.itd {
			& .pagination-link {
				&:hover {
					background:#fff;
					color: #aaa;
					cursor: auto;

					& .arrow-p:before {
						border-color: #fff;
					}
				}
			}
		}
	}



	&-link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 35px;
		font-family: $S-r;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #AAAAAA;
		cursor: pointer;
		background: #FFFFFF;
		border: 1px solid #AAAAAA;
		border-radius: 5px;
		&:hover {
			color: #FFFFFF;
			background: #459AE9;
			border-radius: 5px;
			border: 1px solid #459AE9;
			& .arrow-p:before {
				border-color: #fff;
			}
		}
	}
}

.arrow-p:before {
	content: '';
	width: 9px;
	height: 9px;
	display: block;
	border-bottom: 2px solid #459AE9;
	border-left: 2px solid #459AE9;
}

.next:before {
	transform: rotate(225deg) translate(2px, -2px);
}

.prev:before {
	transform: rotate(45deg) translate(2px, -2px);
}