.check-box {
	& input {
		display: none;
	}
	& label {
		position: relative;
		padding-left: 35px;
		@include use-font($S-r, 400);
		@include use-size(16px, 20px);
		color: #646464;
		display: inline-block;
		cursor: pointer;
	}
	& label:before {
		content: '';
		position: absolute;
		top: calc(50% - 9px);
		left: 4px;
		width: 18px;
		height: 18px;
		border-radius: 3px;
		background: transparent;
		z-index: 10;
	}
	& label:after {
		content: '';
		position: absolute;
		top: calc(50% - 13px);
		left: 0;
		display: block;
		width: 26px;
		height: 26px;
		background: #FFFFFF;
		border-radius: 5px;
	}
	& input:checked + label:before {
		background: #459AE9;
	}
}